.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: var(--mat-sys-primary);;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}
